<style>
  .content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 1260px;
    flex-direction: column;
    align-items: center;
  }
  .button {
    background-color: #82be3c; /* Green */
    border-radius: 0.25em;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }

  .button-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 10px;
  }

  .select {
    width: 100%;
    min-width: 15ch;
    max-width: 15ch;
    border: 2px solid #82be3c;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 16px;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  }

  .button-filer {
    border-radius: 0.25em;
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
  }

  .btn-green {
    background-color: #82be3c;
  }

  @media (max-width: 1260px) {
  .content {
    margin: 32px 24px;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .button-items {
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .button {
    padding: 12px 24px;
    font-size: 14px;
  }
}

</style>

<app-header></app-header>

<div class="button-items">
  <button class="button" (click)="onTabClick()"> {{ tabIndex ? 'Detail View' : 'View' }}</button>
  <select class="select" value="selectedItem" (change)="sortProducts($event)" >
    <option selected value="undefined" disabled>Sort by Price</option>
    <option value="l2h">Low to High</option>
    <option value="h2l">High to Low</option>
  </select>
  <button class="button-filer" (click)="toggleExpensiveBeers()" [ngClass]="{ 'btn-green': filterExpensiveBeers }">
    <strong>{{ filterExpensiveBeers ? 'Show all beers' : 'Enjoy beers more than 2 €/Liter' }}</strong>
  </button>
</div> 

<div class="content" role="main">
  <div>
    <app-detail-view *ngIf="!tabIndex" [item]="products"></app-detail-view>
    <app-bottle-view *ngIf="tabIndex" [item]="products"></app-bottle-view>
  </div>
</div>